<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CREATE YOUR PIN IN OUR BANK!!!!</title>
  </head>
  <body>
    <h1>Enter your pin:</h1>
    <input type="number" name="Number" placeholder="number" />
    <h2>What actions do u want to perform!!</h2>
    <button type="button">Deposit Money</button>
    <button type="button">Withdraw Money</button>
    <button type="button">Check Balance</button>
  </body>
</html>
